.drawer-toggle {
    height: 22px;
    width: 33px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.drawer-toggle:focus {
    outline: none;
}

.hamburger-line {
    width: 100%;
    height: 2px;
    padding: 0;
    box-sizing: border-box;
    background: var(--light);
    margin: auto;
    animation-name: jump1;
    animation-duration: 0.2s;
}

@keyframes jump1 {
    0% { transform: translateY(0%); }
    50% { transform: translateY(-140%); }
    100% { transform: translateY(0%); }
}

button:hover > .hamburger-line,
button:active > .hamburger-line {
    background: white;
}

.close {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
    opacity: 0.8;
    padding-top: 2px;
    margin: 0;
    animation-name: jump2;
    animation-duration: 0.2s;
}

@keyframes jump2 {
    0% { transform: translateY(0%); }
    50% { transform: translateY(-20%); }
    100% { transform: translateY(0%); }
}

.close:before, .close:after {
    position: absolute;
    left: 9px;
    content: ' ';
    height: 100%;
    width: 2px;
    background-color: white;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.close:hover,
.close:active,
.close:focus {
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .drawer-toggle {
        display: none;
    }
}