.desktop-nav {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 100px;
  border-radius: 50%;
}

.nav-name {
  margin-right: auto;
  margin-left: 10px;
  font-size: 1.3rem;
}

.nav-name-span {
  color: var(--light);
  margin-right: 7px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list-item {
  margin: 2px 15px;
  font-size: 1.15rem;
}

.nav-list-item > a {
  color: var(--light);
  text-decoration: none;
}

.underline {
  display: inline-block;
  padding-block: 4px;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-position: 0 100%; 
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; 
}

.underline:hover,
.underline:focus,
.underline:active {
  background-position: 100% 100%; 
  background-size: 100% 2px;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .nav-name {
    font-size: 1.2rem;
  }

  .nav-list-item {
    font-size: 1rem;
  }

  .nav-logo {
    width: 80px;
  }

  .desktop-nav {
    height: 50px;
  }
}

@media only screen and (max-width: 310px) {
  .nav-logo {
      display: none;
  }

  .nav-name {
    margin-left: 0;
  }

  .nav-list-item {
    font-size: 0.8rem
  }

  .nav-name-span {
    display: none;
  }
}