.footer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .footer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 560px) {
    .footer {
        margin-top: 40px;
        margin-left: 12px;
        font-size: 0.95rem;
        text-align: left;
        justify-content: start;
    }
}